body{
  background: #002833;
}

.UpperPart{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 9%;
  background-color: #05F2DB;
}

.TitleOfThePage{
  color: #002833;
  text-align: center;
}

input{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #ffff;
  border-radius: 24px;
  transition: 0.25s;
  background-color: #000000;
  color: #3498db;
}

input:hover{
  width: 280px;
  border-color: #00FF66;
  color: #00FF66;
}

button{
  border: 0;
  background: none;
  display: block;
  margin: 9.8px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 7px 20px;
  outline: none;
  color: rgb(10, 20, 30);
  transition: 0.25s;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
}

button:hover{
  background: #2ecc71;
  background-color: #00FF66;
  color: rgb(10, 20, 30);
  border-radius: 12%;
  border-color: #00FF66;
  border: none;
}

.GoToDashboard{
  position: fixed;
  right: 2%;
  bottom: 2%;
  font-size: 24px;
}

.SearchResults{
  position: absolute;
  left: 0%;
  top: 9%;
  bottom: 0%;
  right: 24%;
}

.Result{
  color: #05F2DB;
  padding-top: 4%;
  height: 12px;
  margin-left: 5px;
}

.Help{
  position: absolute;
  left: 4.5%;
}
